*{
    margin: 0px;
}


/* ########################   Navbar   ####################### */

nav{
    position: sticky;
    top: 0%;
    z-index: 999;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.06);
}



nav .nav-1{
    display: flex;
    /* background-color: #ef12ff; */
    background-color: #0069C2 ;
}

nav .nav-1 a{
    color: white;
}


nav .nav-1 #menu-1{
    margin-left: 80%;;
    float: right;
}

nav .nav-2{
    background-color: #e3e6f3;
    height: 85px;
}

nav .nav-2 #menu-2{
    margin-top:20px;
    margin-right: 60px;
    float: right;
}

nav .nav-2 .logo{
    margin-top: 12px;
    margin-left: 20px;
	width: 290px;
	height: 60px;
    float: left;
	padding-left: 30px;
	cursor: pointer;
}

nav li{
	display: inline-block;
	list-style-type: none;
	margin: 5px;
	color: #fff;
}
nav #menu-1,
nav #menu-2  {
    margin-right: 30px;
}

nav li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

nav li a:hover,
nav li a.active {
    color: #ef12ff;
}

nav li a{
    text-decoration: none;
    position: relative;
    padding: 10px;
    font-family: roboto;
}

nav li a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0%;
    height: 3px;
    width: 0;
    background-color: #088178;;
}

nav .nav-2 #menu-2 li a:hover::after,
nav .nav-2 #menu-2 li a.active::after{
    content: '';
    position: absolute;
    left: 10px;
    bottom: 0%;
    height: 3px;
    width: 50%;
    background-color: #ef12ff;;
    transition: 0.4s ease-in;

}


nav button:hover {
    background-color: #088178;
    color: #fff;
}

nav #nav-2 .donate:hover button{
    background-color: #088178;
    border: 1px solid #088178;
}

nav button.donate{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #fff;
    /* background-color: #05252f; */
    /* background-color: #ef12ff; */
    background-color: #0069C2;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

nav button.donate a{
    color: white;
    text-decoration: none;
}

nav button:hover {
    background-color: #ef12ff;
    color: #fff;
}


/* <!-- ################# ----------------  Image-Section  --------------################# --> */

#workWithUs .homeImg{
    height: 85vh;
    background-image: url(../img/1.jpg);
    /* background-image: url(../img/IMG_E3629.JPG); */
    background-size: 1293px 850px;
}

#workWithUs .homeImg h1{
    font-size: 35px;
    text-align: center;
    padding-top: 17.5%;
}

#workWithUs .text{
    margin: 70px;
}

#workWithUs .text .p1 p{
    text-align: center;
}

#workWithUs .text p{
    text-align: center;
    text-align: justify;
    font-size: 20px;
    margin: 15px;
}


/* <!-- ################# ----------------  Conatect-Map  --------------################# --> */


#contact{
    position: relative;
    padding: 100px 70px 30px 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    /* background:rgba(48, 56, 94,0.6); */
    background:#dadada;
    /* background-image: url(https://smilefoundationindia.org/wp-content/uploads/2022/10/Path_-_Path_.png); */
    /* background-size: cover; */
}



#contact .textMap{
    background-color: #fff;
    display: flex;
    width: 100%;
    /* height: 400px; */
}

#contact .textMap .details{
    padding: 40px 50px 40px 50px;
    width: 45%;
}

#contact .textMap .map{
    width: 55%;
} 

 /* ######################## */

#contact .details span{
    font-size: 12px;
}

#contact .details h2{
    font-size: 26px;
    line-height: 35px;
    padding: 20px 0;
}

#contact .details h3{
    font-size: 16px;
    padding-bottom: 15px;
}

#contact .details li {
    list-style: none;
    display: flex;
    padding: 10px 0;
}

#contact .details li i {
    font-size: 14px;
    padding-right: 22px;
}

#contact .details li p {
    margin: 0;
    font-size: 14px;
}

#contact .map {
    width: 55%;
    height: 100%;
}

#contact .textMap .map iframe {
    width: 100%;
    height: 410px;
    margin-bottom: -3.5px;
}



/* <!-- ################# ----------------  Conatect-Section  --------------################# --> */

#contact-section{
    background-color: #dadada;
    padding-top: 10px;
    /* background-color: red; */
}

#contact-section .contantUs{
    text-align: center;
    margin: 0px 80px 0px 80px; 
}

#contact-section .contantUs h2{
    font-size: 36px;
    font-weight: 500;
    color: #000;
}

#contact-section .contantUs p{
    margin: 10px 40px 10px 40px;
    text-align: center;
}

#contact-section .container{
    width: 88.7%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 46px;
    margin-left: 70px;
    margin-right: 120px;
    /* margin-left: 125px;
    margin-right: 100px; */
    background-color: #fff;
}

#contact-section .container .contactInfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}

#contact-section .container .contactInfo .box .icon{
    min-width: 60px;
    height: 60px;
    background:	#dadada;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}

#contact-section .container .contactInfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #000;
    flex-direction: column;
    font-weight: 300;  
}

#contact-section .container .contactInfo .box .text h3{
    font-size: 500;
    color: #00bcd4;   
}

#contact-section .container .contactForm{
    width: 40%;
    padding: 40px;
    padding-left: 160px;
    background:#fff;
    /* margin-left: 60px; */
}

#contact-section .container .contactForm h2{
    font-size: 30px;
    color: #333;
    font-weight: 500;
}

#contact-section .container .contactForm .inputBox{ 
    position: relative;
    width: 100%;
    margin-top: 10px;
    border:none;
}

#contact-section .container .contactForm .inputBox input,
#contact-section .container .contactForm .inputBox textarea{ 
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin:10px 0;
    border:none;
    border-bottom: 2px solid #333;
    outline:none;
    resize: none;
}

#contact-section .container .contactForm .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin:10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

#contact-section .container .contactForm .inputBox input:focus ~ span,
#contact-section .container .contactForm .inputBox input:valid ~ span,
#contact-section .container .contactForm .inputBox textarea:focus ~ span,
#contact-section .container .contactForm .inputBox textarea:valid ~ span{
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}

#contact-section .container .contactForm .inputBox input[type="submit"]{
    width: 100px;
    background:#00bcd4;
    color: #fff;
    border:none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}

/* 
 ###### Responsive
@media (max-width: 991px)
{
    .conatactForm{
        padding: 50px;
    }
    .container{
        flex-direction: column;
    }
    .container .contactInfo{
        margin-bottom: 40px;
    }
    .container .contactInfo,
    .contactForm{
        width: 100%;
    }

}  */




/* <!-- ################# ----------------  Sapce-Section  --------------################# --> */

#space{
    height: 100px;
    width: 100%;
    background-color: #dadada;
}





/* ########################   JOIN WITH OUR FAMILY   ####################### */

#about .line_1{
    margin: 50px 80px 40px 80px;
    background: #0069C2;
    height: 5px;
}

#partnerBannar{
    height: 170px;
    margin-top: 20px;
}

#partnerBannar .text{
    padding-top: 20px;
    text-align: center;
}

#partnerBannar .text h1{
    font-size: 33px;
}

#partnerBannar .bannar{
    display: flex;
    margin-left: 245px;
}

#partnerBannar .bannar .col a{
    display: flex;
    /* padding-left: 100px; */
    margin: 30px;
    cursor: pointer;
    text-decoration: none;
}

#partnerBannar .bannar .col img{
    height: 80px;
    width: 80px;
}

#partnerBannar .bannar .col p{
    padding-left: 10px;
    padding-top: 30px;
    font-size: 20px;
    color: #81848F;
}


/* --------###################################   Footer   ##############################------- */

footer {
    /* display: flex; */
    padding-top: 40px;
    margin-top: 50px;
    margin-bottom: -5px;
    
    /* background-color:  #23395d; */
    /* background-color:  #05252f; */
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #05252f;
    color: white; 
    font-family: cursive;
    font-style: italic;


}

footer #upFooter{
    display: flex;
    padding-top: 10px;
    /* padding-left: 60px; */
    padding-bottom: 20px;
}
.cont h4{
    font-size: 22px;
}

#downFooter p:hover{
    color: #088178;
}

footer .cont {

    margin-left: 90px;

}
footer .blog {
    margin-left: 80px;
    margin-top: 20px;
}

footer ul{
    display:flex;
}

footer  ul li{
    float:left;
    margin-top:80px;
    text-decoration: none;
    color: white;
    margin: 8px;
    padding: 15px;
    font-weight: bold;
}

footer #upFooter .follow .icon a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    background-color: #e3e6f3;
    /* border: 1px solid var(--white-alpha-40); */
    border-radius: 50%;
    margin: 6px 4px 0 0;
    transition: all 0.3s ease;
}

footer #upFooter .follow .icon a:hover{
    background-color: #088178;
}

footer  ul li:hover{
    color: #088178;
}

.ab{
    list-style-type: none;
}

footer .follow {
    margin-left: 160px;

}

footer .follow .icon i{
    /* color: #c3dee3; */
    color: #05252f;
    font-size: 25px;
    padding-left: 5px;
}

hr{
  margin-left: 90px;
  margin-right: 130px;
}

footer #upFooter #blog{
    padding-left: 40px;
}

footer .col { 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .logo{
    margin-bottom: 30px;
}

footer h4{
    font-size: 14px;
    padding-bottom: 20px;
}

footer p{
    font-size: 13px;
    margin: 0 0 8px 0;
}

footer #downFooter p{
    cursor: pointer;
}

footer .blog ul li{
    cursor: pointer;
}



footer a{
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}


footer .follow i{
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
}

footer .intall .row img {
    border: 1px solid #088178;
    border-radius: 6px;
}

footer .intall img{
    margin: 10px 0 15px 0;
}

footer .copyright{
    width: 100%;
    text-align: center;
}

footer #test_footer{
    padding-top: 30px;
    display: flex;
}

/*  --------- #########  Down Footer   ############# ---------- */

footer #downFooter{
    display: flex;
    padding-top: 25px;
    /* padding-left: 60px; */
    padding-bottom: 50px;
    margin-left: 80px;
}

footer .col-1 {
    margin-left: 10px;
}
footer .col-1 h2{
    font-size: 22px;
}
footer #downFooter .col-1 h2{
    padding-bottom: 25px;

}

footer .col-2{
    padding-top: 25px;
    padding-left: 30px;
    margin-top: 40px;
    margin-left: 300px;
}

footer .col-3{

    /* padding-left: -100px; */
    margin-top: 60px;
    margin-left: 290px;
}
.copyright p{
padding-bottom: 60px;
}